{{"<!-- Fixed Logo -->" | safeHTML}} 
                <div>
                        {{"<!-- logo -->" | safeHTML}}
                        <a href="{{ .Site.BaseURL | absURL }}">
                                <img src="{{ .Site.Params.logo | absURL }}" class="fixed-top" id ="logo" alt="nuveo" />
                                <!-- <span class="pl-2 font-weight-bold">{{ .Site.Title }}</span> -->
                        </a>
                        {{"<!-- /logo -->" | safeHTML}}
                </div>


{{"<!-- End Logo -->" | safeHTML}}