    {{ define "main" }}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS5XZSZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        {{ partial "preloader.html" . }}

        {{ partial "logo.html" . }}

        {{ partial "navigation.html" . }}

        <!-- {{ partial "home.html" . }} -->

        {{ partial "hero-area.html" . }}

        {{ partial "benefits.html" . }}

        {{ partial "clients.html" . }}

        <!-- {{ partial "cta.html" . }} -->

        {{ partial "products.html" . }}

        {{ partial "industries.html" . }}

        <!-- {{ partial "service.html" . }} -->

        <!-- {{ partial "skill.html" . }} -->

        <!-- {{ partial "portfolio.html" . }} -->

        <!-- {{ partial "counter.html" . }} -->

        <!-- {{ partial "team.html" . }} -->

        <!-- {{ partial "pricing.html" . }} -->

        <!-- {{ partial "testimonial.html" . }} -->

        <!-- {{ partial "blog.html" . }} -->

        {{ partial "contact_call_to_action.html" . }}

        <!-- {{ partial "contact.html" . }} -->

</body>
{{ end }}